---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import TuiShowcase from '../components/TuiShowcase.astro';
import Features from '../components/Features.astro';
import InstallTabs from '../components/InstallTabs.astro';
import InstallScript from '../components/InstallScript.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <TuiShowcase />
    <Features />
    <InstallTabs />
    <InstallScript />
  </main>
  <Footer />
</Layout>
